In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

In [74]:
data2 = pd.read_csv('C:\\Users\\ritth\\code\\Strive\\King_Ritthuja\\hotels_data.csv')
data2

,hotel_names,hotel_ratings,hotel_price,hotel_neighbourhoods,hotel_reviews,hotel_type
0,The Hoxton - Shoreditch,4.5,££,Liverpool Street / Broadgate,187.0,HotelsVenues & Event Spaces
1,London Marriott Hotel Park Lane,4.5,£££,Mayfair,45.0,HotelsVenues & Event Spaces
2,DoubleTree by Hilton Hotel London - Hyde Park,4.0,££,Notting Hill,35.0,Hotels
3,Savoy Hotel,4.5,££££,Strand,96.0,Hotels
4,The Z Hotel Piccadilly,4.5,££,Trafalgar Square,11.0,Hotels
...,...,...,...,...,...,...
235,Miller’s Hotel,5.0,£££,Bayswater,4.0,Hotels
236,Princess Hotel,5.0,££,Bloomsbury,3.0,HotelsBed & Breakfast
237,Millennium Hotel London Knightsbridge,3.5,£££,Chelsea,7.0,Hotels
238,Portobello Gold,3.5,££,Notting Hill,34.0,PubsGuest HousesBritish
239,Middle Eight,NaN,NaN,Covent Garden,NaN,HotelsItalianBarsCovent Garden

In [78]:
data3 = pd.read_csv('C:\\Users\\ritth\\code\\Strive\\King_Ritthuja\\pubs_data.csv')
data3

,pub_names,pub_ratings,pub_price,pub_neighbourhoods,pub_reviews,pub_type
0,The Harp,4.5,£,Strand,138,Pubs
1,The Queen’s Head,4.5,££,Soho,48,Pubs
2,The Victoria,4.5,££,Paddington,226,PubsBritish
3,The Queens Arms,4.5,££,Victoria,123,BritishPubsGastropubs
4,Mother Mash,4.0,££,Soho,471,British
...,...,...,...,...,...,...
235,The Yard Bar,3.5,££,Soho,34,Gay Bars
236,Sawyers Arms,3.5,££,Paddington,27,Pubs
237,The Jugged Hare,4.0,££,Westminster,29,Pubs
238,The Old Kings Head,4.5,££,Liverpool Street / Broadgate,2,Pubs
239,The Sands End,4.0,££,Fulham,16,Pubs

In [65]:
data1 = pd.read_csv('C:\\Users\\ritth\\code\\Strive\\King_Ritthuja\\restaurant_data.csv')
data1

,restaurant_names,restaurant_ratings,restaurant_price,restaurant_neighbourhoods,restaurant_reviews,restaurant_type
0,Restaurant Gordon Ramsay,4.5,££££,Chelsea,215,FrenchBritish
1,The Mayfair Chippy,4.5,££,Mayfair,296,Fish & Chips
2,Dishoom,4.5,££,Covent Garden,1894,Indian
3,The Fat Bear,4.5,££,Blackfriars,124,American (Traditional)Soul FoodCajun/Creole
4,Duck & Waffle Local,4.5,££,Leicester Square,143,BarsWaffles
...,...,...,...,...,...,...
235,Casita Andina,4.5,££,Soho,34,Peruvian
236,Kerbisher & Malt,4.5,££,West Kensington,91,Fish & Chips
237,Mamak Don,4.5,NaN,Camden Town,5,MalaysianCamden Town
238,Annabel’s,4.5,££££,Mayfair,11,BarsBritish
239,The Oscar Wilde Bar,4.5,££££,Soho,13,Cocktail BarsBritishJazz & Blues

# Restaurant Distribution

In [89]:
fig = px.histogram(data1, x='restaurant_ratings')

In [90]:
fig1 = px.histogram(data2, x='hotel_ratings')

In [91]:
fig2 = px.histogram(data3, x='pub_ratings')

### Sum

In [6]:
res_sum = data1['restaurant_reviews'].sum()
res_sum

26340

In [8]:
hot_sum = data2['hotel_reviews'].sum()
hot_sum

7174.0

In [9]:
pub_sum = data3['pub_reviews'].sum()
pub_sum

14970

In [84]:
res_sum1 = data1['restaurant_ratings'].sum()
res_sum1

1038.0

In [85]:
hot_sum1 = data2['hotel_ratings'].sum()
hot_sum1

923.5

In [86]:
pub_sum1 = data3['pub_ratings'].sum()
pub_sum1

968.0

### Mean

In [10]:
res1 = data1['restaurant_ratings'].mean()
res1

4.325

In [11]:
hot1 = data2['hotel_ratings'].mean()
hot1

3.963519313304721

In [12]:
pub1 = data3['pub_ratings'].mean()
pub1

4.033333333333333

In [13]:
res2 = data1['restaurant_reviews'].mean()
res2

109.75

In [14]:
hot2 = data2['hotel_reviews'].mean()
hot2

30.78969957081545

In [15]:
pub2 = data3['pub_reviews'].mean()
pub2

62.375

### Box plot

In [81]:
fig = px.box(data1, x="restaurant_ratings", y='restaurant_reviews')

In [82]:
fig1 = px.box(data2, x="hotel_ratings", y='hotel_reviews')

In [83]:
fig2 = px.box(data3, x="pub_ratings", y='pub_reviews')

### Price Mean

In [66]:
mapper = {'£':1, '££':2, '£££':3, '££££':4}
data1['restaurant_price'] = data1['restaurant_price'].map(mapper)

In [68]:
res_price_mean = data1['restaurant_price'].mean()
res_price_mean

2.242424242424242

In [76]:
mapper = {'£':1, '££':2, '£££':3, '££££':4}
data2['hotel_price'] = data2['hotel_price'].map(mapper)

In [77]:
hotel_price_mean= data2['hotel_price'].mean()
hotel_price_mean

2.62

In [79]:
mapper = {'£':1, '££':2, '£££':3, '££££':4}
data3['pub_price'] = data3['pub_price'].map(mapper)

In [80]:
pub_price_mean= data3['pub_price'].mean()
pub_price_mean

2.017094017094017

#### Multiply price by reviews