In [2]:
import requests
from bs4  import BeautifulSoup
import pandas as pd
import numpy as np

from time import sleep
from random import randint
from warnings import warn
from time import time

## Restaurant

In [6]:
#  1 webscraping Hotels
# Monitoring of the loop
start_time = time()
request = 0

# Dictionary for storing web content
soup_r = {}
for start_num in range(0, 240, 10):

    # Make a request
    url = f" https://www.yelp.com/search?find_desc=Restaurants&find_loc=london&start={start_num}"
    response = requests.get(url)

    # Pause the loop
    sleep(randint(8,15))
    print(response)
    page = BeautifulSoup(response.content, 'html.parser')
    soup_r[start_num] = page


    # Monitor the requests
    request += 1
    elapsed_time = time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(request, request/elapsed_time))
    #clear_output(wait = True)

    # Throw a warning if request wasn't successful
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(request, response.status_code))

<Response [200]>
Request:1; Frequency: 0.05400274302205798 requests/s
<Response [200]>
Request:2; Frequency: 0.06537721508885296 requests/s
<Response [200]>
Request:3; Frequency: 0.06889207906700058 requests/s
<Response [200]>
Request:4; Frequency: 0.06439553989574175 requests/s
<Response [200]>
Request:5; Frequency: 0.06546216175008474 requests/s
<Response [200]>
Request:6; Frequency: 0.06189250629800498 requests/s
<Response [200]>
Request:7; Frequency: 0.06417809003090115 requests/s
<Response [200]>
Request:8; Frequency: 0.06297737903028289 requests/s
<Response [200]>
Request:9; Frequency: 0.06388302960352578 requests/s
<Response [200]>
Request:10; Frequency: 0.061926138815926464 requests/s
<Response [200]>
Request:11; Frequency: 0.06185275398691129 requests/s
<Response [200]>
Request:12; Frequency: 0.06186256823638517 requests/s
<Response [200]>
Request:13; Frequency: 0.06234797621922646 requests/s
<Response [200]>
Request:14; Frequency: 0.061465100536033636 requests/s
<Response [200]>
Request:15; Frequency: 0.06241909061637262 requests/s
<Response [200]>
Request:16; Frequency: 0.061631502401862825 requests/s
<Response [200]>
Request:17; Frequency: 0.0628439234300646 requests/s
<Response [200]>
Request:18; Frequency: 0.06347793620551437 requests/s
<Response [200]>
Request:19; Frequency: 0.06331672202507017 requests/s
<Response [200]>
Request:20; Frequency: 0.06318383546414073 requests/s
<Response [200]>
Request:21; Frequency: 0.06315853469766446 requests/s
<Response [200]>
Request:22; Frequency: 0.06410574821608227 requests/s
<Response [200]>
Request:23; Frequency: 0.06309133196843301 requests/s
<Response [200]>
Request:24; Frequency: 0.0627659216671779 requests/s

In [7]:
resto_soup = pd.DataFrame([soup_r]).squeeze()

### Name

In [51]:
name = []
for row in resto_soup:  
    result = row.select('.css-1egxyvc .css-1m051bw') 
    for tag in result:
        print(tag.text)
        name.append(tag.text)

Restaurant Gordon Ramsay
The Mayfair Chippy
Dishoom
The Fat Bear
Duck & Waffle Local
Honey & Co
Duck & Waffle
The Breakfast Club
Flat Iron
The Queens Arms
The Victoria
Padella
Circolo Popolare
Sketch
Hawksmoor Seven Dials
Abeno
Mother Mash
Granger & Co
Gordon Ramsay Street Pizza
The Golden Chippy
The Ivy
The Grazing Goat Marylebone
Ye Olde Cheshire Cheese
Dishoom
Fuckoffee
Lanzhou Noodle Bar
Barrafina
The Rum Kitchen
NOPI
Hide
The Churchill Arms
The Ledbury
Ottolenghi
Cecconi’s Mayfair
Eggslut
The Ivy Chelsea Garden
Belgo Centraal
Seoul Bakery
Jinjuu
Ffiona’s Restaurant
BAO - Soho
The Alchemist
Holborn Dining Room
Mestizo
The Barge House
Kiln
Belgo Centraal
The English Rose Cafe and Tea Shop
Berners Tavern
Burger & Lobster
39 Steps Coffee
The Palomar Restaurant
Yauatcha
Brasserie Zédel
Carmen Bar De Tapas
Drunch Regent’s Park
Rules
Arabesque
Regency Café
Dominique Ansel Treehouse
Pieminister
Koya Soho
Bradleys Restaurant
Ngon Ngon
Naru
Haidilao Hot Pot
Savoir Faire
Shoryu Ramen
London House by Gordon Ramsay
Bocca Di Lupo
Savoir Faire
Brasserie Zédel
London House by Gordon Ramsay
HOOK
Carmen Bar De Tapas
Bocca Di Lupo
Maggie Jones’s
Frenchie Covent Garden
Da Mario Restaurant
Rumours
St John Bar and Restaurant
Erebuni Restaurant
La Patagonia
Hammer & Tongs
Texas Joe’s
Xi’An BiangBiang Noodles
Zeitgeist
Kintan Japanese BBQ
Mar I Terra
Milk
Persepolis
Piccolino
The Table
Wahaca
Gloria
Sushi Tetsu
Orsini
Eat Aroi Thai
Blacklock
Cereal Killer Cafe
Bibimbap
San Carlo Cicchetti
The Wilmington
Balthazar
Kanada-Ya
Restaurant Story
Bbar
Maria Sabina
The Narrow by Gordon Ramsay
The Pig and Butcher
The Pig and Butcher
Nambu Tei
Andina
Seabird
The Wolseley
Cacciari’s
Barrafina
Dinner by Heston Blumenthal
Honest Burgers Meard St - Soho
Lobos Meat and Tapas
Andrew Edmunds
Chiltern Firehouse
Sweet Chick
Phat Phuc Noodle Bar
Costa Azul
Kazu
Ramo Ramen
Ottolenghi
Negril
Flour & Grape
Cirilo Filipino Kainan
Goodman
Tito’s
The Orangery
Sweet Chick
The Oystermen Seafood Bar & Kitchen
Soho Joe
Flour & Grape
L’ETO
Frog By Adam Handling
Hawksmoor Guildhall
Liman Kitchen
Social Eating House
Nando’s
Baltic Bar and Restaurant
Sexy Fish
Yasmeen Restaurant
The George Inn
Lobos Meat and Tapas
Tito’s
Tokyo Sukiyaki-Tei
Hawksmoor
Farm Girl Cafe
Pesantissimo
Gastronomica
Paladar
Hoppers
Warisan Cafe
The Anchor and Hope
The Windmill
Greenberry Café
Tayyabs
The Ivy
Shake Shuka
Where the Pancakes are
The Swan
Homeslice Neal’s Yard
The Alchemist
Scully
Scott’s
The Princess Victoria
Istanbul Cafe Bistro
Apollo Restaurant Taverna
Sandwich Shop
Albertini Restaurant
Casa do Frango
Thai Square
The Book Club
Uyghur Restaurant
Xi’an Impressions
Xi’an Impressions
Albertini Restaurant
Core by Clare Smyth
Farmacy
Ugly Dumpling
River View Chinese Restaurant
Absurd Bird Soho
Cacio & Pepe
Heist Bank
Al Balad
The Roof Deck Restaurant and Bar, Selfridges
The Pig & Goose at the George on the Strand
Fish Bone
Crispin
The Harwood Arms
The Ivy In the Park
The Ninth London
Farmacy
Wright Brothers
Negril
Crispin
Lahpet
The Ivy In the Park
Korean Bbq and Vegan
The Ninth London
The Harwood Arms
Ethos
VQ Euston
Trinidad Roti Shop Carribean Cusine
The Lobster Pot
Polo 24 Hour Bar
The Clove Club
Cafe Vienna
Beany Green
Bierschenke
Fish Bone
Chilango
Flor
Nando’s
The Oscar Wilde Bar
Nandos
Jin Kichi
Bill’s
Istanbul Meze & Grill Restaurant
Heddon Street Kitchen
Tokyo Diner
Lemonia
New London Cafe
Farm Girl
Battersea Pie
Koya City
Balaio Brazilian Grill
Yatri Indian Restaurant
Nando’s
Polo 24 Hour Bar
Casita Andina
Kerbisher & Malt
Mamak Don
Annabel’s
The Oscar Wilde Bar

In [16]:
# pd.Series(name).value_counts()

### Ratings

In [69]:
rating = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in resto_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        rat = header_text.select_one('.overflow--hidden__09f24___ayzG')
        if rat is not None:
            rating.append(rat['aria-label'].split()[0])
        else:
            rating.append(np.nan)

In [18]:
# test
# for n, rat in zip(name, rating):
#     print(n, rat)

### Reviews

In [70]:
reviews = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in resto_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        rev = header_text.select_one('.reviewCount__09f24__tnBk4')
        if rev is not None:
            reviews.append(rev.text)
        else:
            reviews.append(np.nan)

In [20]:
# test
# for n, rev in zip(name, reviews):
#     print(n, rev)

### Price

In [71]:
price_range = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in resto_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        price = header_text.select_one('.css-1s7bx9e')
        if price is not None:
            price_range.append(price.text)
        else:
            price_range.append(np.nan)

In [23]:
# test
# for n, price in zip(name, price_range):
#     print(n, price)

### Neighbours

In [72]:
neig = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in resto_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        neigh = header_text.select_one('.css-dzq7l1 .css-chan6m')
        if neigh is not None:
            neig.append(neigh.text)
        else:
            neig.append(np.nan)

In [30]:
# neig

### Type

In [73]:
type_res = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in resto_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        type = header_text.select_one('.css-dzq7l1')
        if type is not None:
            types_output = type.text
            type_res.append(types_output.split('£')[0])
        else:
            type_res.append(np.nan)

In [47]:
type_res

['FrenchBritish',
 'Fish & Chips',
 'Indian',
 'American (Traditional)Soul FoodCajun/Creole',
 'BarsWaffles',
 'Middle Eastern',
 'Modern EuropeanBarsBritish',
 'Coffee & TeaBreakfast & BrunchAmerican (Traditional)',
 'Steakhouses',
 'BritishPubsGastropubs',
 'PubsBritish',
 'Italian',
 'ItalianFitzrovia',
 'FrenchModern EuropeanCocktail Bars',
 'BritishSteakhousesCocktail Bars',
 'Japanese',
 'British',
 'BritishModern EuropeanBreakfast & Brunch',
 'PizzaBars',
 'Fish & Chips',
 'BritishModern European',
 'GastropubsBritish',
 'PubsBritish',
 'Indian',
 'Coffee & TeaSandwiches',
 'ChineseNoodles',
 'SpanishTapas Bars',
 'Caribbean',
 'Mediterranean',
 'FrenchWine BarsBritishMayfair',
 'PubsThai',
 'Modern European',
 'MediterraneanModern European',
 'Italian',
 'BurgersSandwichesNotting Hill',
 'BritishBars',
 'Belgian',
 'CafesKorean',
 'Korean',
 'British',
 'Taiwanese',
 'BarsVenues & Event SpacesAmerican (Traditional)Covent Garden',
 'BritishBars',
 'MexicanBars',
 'LoungesBritish',
 'NoodlesThai',
 'Belgian',
 'Coffee & TeaBreakfast & BrunchCafes',
 'BritishPubs',
 'SeafoodBurgers',
 'Breakfast & Brunch',
 'Middle EasternMediterranean',
 'Dim SumSeafoodNoodles',
 'BrasseriesJazz & BluesCocktail Bars',
 'SpanishTapas Bars',
 "GastropubsCocktail BarsSt John's Wood",
 'BritishBars',
 'MediterraneanLebaneseSwiss Cottage',
 'Cafes',
 'BakeriesBistrosCovent Garden',
 'British',
 'Japanese',
 'BritishModern European',
 'VietnameseNoodles',
 'Korean',
 'ChineseLeicester Square',
 'French',
 'Japanese',
 'Modern European',
 'Italian',
 'French',
 'BrasseriesJazz & BluesCocktail Bars',
 'Modern European',
 'Fish & ChipsSeafood',
 'SpanishTapas Bars',
 'Italian',
 'British',
 'French',
 'Italian',
 'Venues & Event SpacesTapas/Small PlatesWine BarsMayfair',
 'BritishBars',
 'BarsRussianKaraokeBarbican',
 'Argentine',
 'AfricanBarbequeBarsBloomsbury',
 'Barbeque',
 'NoodlesPetticoat Lane',
 'German',
 'JapaneseBarbequeTapas/Small Plates',
 'SpanishBasqueTapas Bars',
 'Coffee & TeaBreakfast & Brunch',
 'Persian/IranianGroceryCafes',
 'Italian',
 'BritishBreakfast & BrunchBars',
 'Mexican',
 'ItalianLiverpool Street / Broadgate',
 'Sushi Bars',
 'ItalianCoffee & Tea',
 'Thai',
 'BritishCocktail BarsSteakhouses',
 'CafesVenues & Event Spaces',
 'Korean',
 'Italian',
 'PubsBritish',
 'FrenchBreakfast & BrunchBistros',
 'Ramen',
 'British',
 'AfricanCocktail BarsBritish',
 'MexicanSouthwark',
 'BritishModern European',
 'BritishGastropubs',
 'BritishGastropubs',
 'Japanese',
 'Breakfast & BrunchPeruvian',
 'SeafoodCocktail BarsSouthwark',
 'CafesBritishTea Rooms',
 'Italian',
 'Tapas/Small PlatesSpanish',
 'British',
 'Burgers',
 'Tapas/Small PlatesTapas BarsSpanish',
 'Wine BarsBritish',
 'Modern EuropeanFrenchBritish',
 'American (New)SouthernBreakfast & Brunch',
 'VietnameseNoodles',
 'Latin American',
 'JapaneseSushi BarsFitzrovia',
 'RamenFilipinoCamden Town',
 'MediterraneanModern European',
 'Caribbean',
 'ItalianWine Bars',
 'Filipino',
 'SteakhousesBurgersBritish',
 'Latin AmericanPeruvianBarsClapham',
 'BritishCoffee & TeaTea Rooms',
 'American (New)SouthernBreakfast & Brunch',
 'SeafoodBritish',
 'Breakfast & BrunchPizzaSoho',
 'ItalianWine Bars',
 'Cafes',
 'Modern EuropeanBritishStrand',
 'SteakhousesBarsBritish',
 'MediterraneanTurkish',
 'BritishModern European',
 'Chicken ShopFast Food',
 'BarsModern EuropeanPolish',
 'SeafoodJapaneseAsian Fusion',
 'LebaneseMediterranean',
 'PubsBritish',
 'Tapas/Small PlatesTapas BarsSpanish',
 'Latin AmericanPeruvianBarsClapham',
 'Japanese',
 'SeafoodSteakhouses',
 'Cafes',
 'Italian',
 'Food StandsItalian',
 'Latin AmericanWine BarsCocktail BarsKennington',
 'Sri LankanAsian Fusion',
 'MalaysianPaddington',
 'British',
 'PubsBritish',
 'Brasseries',
 'IndianPakistaniHalal',
 'Breakfast & BrunchBritishCocktail BarsWestminster',
 'Lebanese',
 'Pancakes',
 'PubsBritish',
 'Pizza',
 'Cocktail BarsBritishBreakfast & Brunch',
 'BritishLeicester Square',
 'SeafoodBritish',
 'GastropubsVenues & Event SpacesPubs',
 'TurkishCafesBreakfast & Brunch',
 'GreekMediterraneanLower Holloway',
 'Sandwiches',
 'PizzaItalianSeafood',
 'PortugueseWine BarsLondon Bridge',
 'ThaiBars',
 'Venues & Event SpacesCafesCocktail Bars',
 'Turkish',
 'Szechuan',
 'Szechuan',
 'PizzaItalianSeafood',
 'BritishNotting Hill',
 'VeganBreakfast & Brunch',
 'Asian Fusion',
 'Chinese',
 'Chicken ShopAmerican (New)Soul Food',
 'Italian',
 'BarsPizzaGastropubsPaddington',
 'Middle EasternArabicFalafel',
 'BarsBritish',
 'BritishHolborn',
 'Fish & ChipsBritishSeafood',
 'Breakfast & Brunch',
 'GastropubsBritish',
 'BritishCanary Wharf',
 'MediterraneanFrench',
 'VeganBreakfast & Brunch',
 'Seafood',
 'Caribbean',
 'Breakfast & Brunch',
 'BurmeseSaladWine Bars',
 'BritishCanary Wharf',
 'HalalKoreanVeganBarbican',
 'MediterraneanFrench',
 'GastropubsBritish',
 'VegetarianVeganGluten-Free',
 'DinersBarsEuston',
 'Caribbean',
 'FrenchSeafood',
 'DinersCafesBreakfast & Brunch',
 'BritishCocktail Bars',
 'Austrian',
 'Coffee & TeaBreakfast & BrunchJuice Bars & Smoothies',
 'GermanBars',
 'Fish & ChipsBritishSeafood',
 'Mexican',
 'BakeriesWine BarsBritishLondon Bridge',
 'Chicken ShopFast Food',
 'Cocktail BarsBritishJazz & Blues',
 'Portuguese',
 'JapaneseSushi Bars',
 'Modern EuropeanBritish',
 'TurkishMediterranean',
 'Modern EuropeanBreakfast & Brunch',
 'Japanese',
 'Greek',
 'BritishCafes',
 'CafesSoho',
 'British',
 'JapaneseNoodlesThe City',
 'BrazilianPetticoat Lane',
 'IndianEuston',
 'Chicken ShopFast Food',
 'DinersCafesBreakfast & Brunch',
 'Peruvian',
 'Fish & Chips',
 'MalaysianCamden Town',
 'BarsBritish',
 'Cocktail BarsBritishJazz & Blues']

# Dataframe

In [74]:
restaurant_df = pd.DataFrame({'restaurant_names':name, 'restaurant_ratings':rating, 'restaurant_price': price_range, 'restaurant_neighbourhoods': neig, 'restaurant_reviews': reviews, 'restaurant_type': type_res})

In [75]:
# store data
restaurant_df.to_csv('restaurant_data.csv', index=False)

In [61]:
#restaurant_df.head()

In [114]:
#restaurant_df.info()

In [34]:
# Missing values
#restaurant_df.isnull().sum().sort_values(ascending=False)

In [32]:
# duplicates values
#restaurant_df[restaurant_df.duplicated()]

### Changing Price value

In [29]:
# Price range (price per person)
# Based on information from yelp and Quora:
# $= under $10. $$=11-30. $$$=31-60. $$$$= over $61
# Converting to pound

# 1 pound = 1.31 USD
Euro = (pd.Series([10, 11, 30, 31, 60, 61]) * 1.31).apply(lambda x: int(x))
#print(Euro)
mapper = {'£':'under 13', '££':'[14 - 39]', '£££':'[40 - 78]', '££££':'over 79'}
restaurant_df['restaurant_price'] = restaurant_df['restaurant_price'].map(mapper)

In [59]:
# Top 20 Most reviews

#restaurant_df.sort_values(by='Reviews', ascending=False).head(20)

In [30]:
# Rating and number of reviews
restaurant_df['restaurant_ratings'] = restaurant_df['restaurant_ratings'].apply(lambda x: float(x)) 
restaurant_df['restaurant_reviews'] = restaurant_df['restaurant_reviews'].apply(lambda x: float(x))

#restaurant_df.describe()

# Hotels

In [32]:
#  1 webscraping Hotels
# Monitoring of the loop
start_time = time()
request = 0

# Dictionary for storing web content
soup_r = {}
for start_num in range(0, 240, 10):

    # Make a request
    url = f"https://www.yelp.com/search?find_desc=Hotels&find_loc=london&start={start_num}"
    response = requests.get(url)

    # Pause the loop
    sleep(randint(8,15))
    print(response)
    page = BeautifulSoup(response.content, 'html.parser')
    soup_r[start_num] = page


    # Monitor the requests
    request += 1
    elapsed_time = time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(request, request/elapsed_time))
    #clear_output(wait = True)

    # Throw a warning if request wasn't successful
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(request, response.status_code))

<Response [200]>
Request:1; Frequency: 0.08639257392445848 requests/s
<Response [200]>
Request:2; Frequency: 0.07515451833432173 requests/s
<Response [200]>
Request:3; Frequency: 0.07484008418453149 requests/s
<Response [200]>
Request:4; Frequency: 0.07387962389524534 requests/s
<Response [200]>
Request:5; Frequency: 0.076783580105086 requests/s
<Response [200]>
Request:6; Frequency: 0.07376341710132751 requests/s
<Response [200]>
Request:7; Frequency: 0.07101648514253321 requests/s
<Response [200]>
Request:8; Frequency: 0.07326514240086221 requests/s
<Response [200]>
Request:9; Frequency: 0.07174728626094178 requests/s
<Response [200]>
Request:10; Frequency: 0.07384620554910702 requests/s
<Response [200]>
Request:11; Frequency: 0.07500139375859984 requests/s
<Response [200]>
Request:12; Frequency: 0.07301860047972564 requests/s
<Response [200]>
Request:13; Frequency: 0.07310942100217283 requests/s
<Response [200]>
Request:14; Frequency: 0.07330892274202445 requests/s
<Response [200]>
Request:15; Frequency: 0.07253835106613357 requests/s
<Response [200]>
Request:16; Frequency: 0.07239793823752158 requests/s
<Response [200]>
Request:17; Frequency: 0.07112593029007319 requests/s
<Response [200]>
Request:18; Frequency: 0.07130164128529559 requests/s
<Response [200]>
Request:19; Frequency: 0.07173856125574082 requests/s
<Response [200]>
Request:20; Frequency: 0.0721663906551043 requests/s
<Response [200]>
Request:21; Frequency: 0.07157356961271345 requests/s
<Response [200]>
Request:22; Frequency: 0.0721686053967419 requests/s
<Response [200]>
Request:23; Frequency: 0.07188005793108884 requests/s
<Response [200]>
Request:24; Frequency: 0.07128631667512537 requests/s

In [33]:
hotel_soup = pd.DataFrame([soup_r]).squeeze()

### Name

In [58]:
name = []
for row in hotel_soup:  
    result = row.select('.css-1m051bw') 
    for tag in result:
        print(tag.text)
        name.append(tag.text)

The Hoxton - Shoreditch
London Marriott Hotel Park Lane
DoubleTree by Hilton Hotel London - Hyde Park
Savoy Hotel
The Z Hotel Piccadilly
The Ritz London
The Soho Hotel
Hotel 41
Kimpton Fitzroy London
Hub Premier Inn
The Kensington Hotel
The Fielding
The Hoxton, Holborn
London Marriott Hotel County Hall
Conrad London St. James
The Dorchester
CitizenM Hotel
Claridge’s
The London EDITION
St. Pancras Renaissance Hotel London
The Langham London
The Landmark London
Ham Yard Hotel
K+K Hotel George
Mimi’s Hotel Soho
Crescent Hotel
Sofitel
JW Marriott Grosvenor House London
Afternoon Tea at The Montague on The Gardens
London Marriott Hotel Regents Park
Four Seasons Hotel
Shangri La Hotel
The W14 Kensington
The Ampersand Hotel
Hotel Chocolat
Hotel Indigo
Yotel
Hotel Indigo
Morgan Hotel
The Kensington Gardens Hotel
Holiday Inn London Camden Lock
69TheGrove
The Cavendish
Club Quarters
W London- Leicester Square
The Connaught
Andaz London Liverpool Street
Corinthia Hotel London
The Royal Horseguards Hotel
The Nadler Soho
DoubleTree by Hilton Hotel London - Tower of London
Rosewood London
Hotel Xenia, Autograph Collection
The Bailey’s Hotel London
Hub By Premier Inn
St. Ermin’s Hotel, Autograph Collection
Hyatt Regency London - The Churchill
The Waldorf Hilton, London
The Nadler Kensington
The Hoxton
The Trafalgar St. James, Curio Collection by Hilton
Hilton London Hyde Park
The Shaftesbury
The Lanesborough
Hub by Premier Inn
The Westminster London, Curio Collection by Hilton
Holiday Inn London - Kensington
Hilton London Paddington
The Marylebone Hotel
The Sumner Hotel
Henrietta
Mandarin Oriental
The Grand at Trafalgar Square
The Rookery
Mile End Hotel
The Beaumont
LSE High Holborn Residence
Travelodge
Limetree Hotel
London Marriott Hotel Marble Arch
Great Scotland Yard Hotel
THE CHESTERFIELD MAYFAIR
Residence Inn by Marriott
Sanctum Soho
Hilton London Bankside
The Athenaeum Hotel
Bankside Hotel
H10 Hotel
Citadines St Mark’s London
Charlies Hotel
Charlies Hotel
Citadines St Mark’s London
The Stafford London
Four Seasons Hotel
DORSETT
Hilton London Tower Bridge
Leonardo Royal Hotel London Tower Bridge
St. James’s
Cote Marylebone
citizenM Tower of London
Camden Lock Hotel
The California
London Marriott Hotel Kensington
The Bloomsbury Hotel
The Caesar Hotel 4
Sea Containers London
The Goring
Country Inns & Suites
Mercure London Hyde Park Hotel
The Standard, London
40 Winks
Haverstock Hotel
Hilton Garden Inn London Heathrow Terminals 2 and 3
Sheraton Grand London Park Lane
Hazlitts Hotels
myhotel
DoubleTree by Hilton Hotel London - Docklands Riverside
Sanderson Hotel
Seven Dials Hotel
Premier Inn
11 Cadogan Gardens
Royal Lancaster London
Comfort Inn King Cross
De Vere Grand Connaught Rooms
London Marriott Hotel Canary Wharf
​M by Montcalm Shoreditch
Travelodge
Hilton London Metropole
Blair Victoria
The Pilgrm
Avo Hotel
Dawson House Hotel
Park Plaza Westminster Bridge London
Hilton London Wembley
Bulgari Hotel - London
Charlotte Street Hotel
The Penn Club
Hampton By Hilton London Waterloo
Me
The Piccadilly London West End
Great Northern Hotel, a Tribute Portfolio Hotel, London
Hotel Montana
Holiday Inn
The Draycott
The Berkeley
Piccadilly Hotel
Park Plaza London Riverbank
Radisson Blu Edwardian Hampshire
Dukes Hotel
InterContinental London - The O2
Best Western London Highbury
Number Sixteen
Treehouse Hotel London
.Kip
Plaza On the River Hotel
The May Fair Hotel
Thistle
Kandara Guest House
The Dixon
Regency House Hotel
Copthorne Tara Hotel London Kensington
DoubleTree By Hilton Hotel London - Victoria
St Giles
Brown’s Hotel
Residence Inn by Marriott London Kensington
The Holmes Hotel
Harlingford Hotel
Hotel Indigo
Dean Street Townhouse
Strand Palace
Hotel Indigo
Hampstead Village Guest House
Travelodge
Sofitel London Heathrow
Seven Dials Hotel
100 Queen’s Gate
The Capital Hotel, Apartments and Townhouse
Holiday Inn Express Hotel London-Swiss Cottage
Z Hotels
Nobu Hotel Shoreditch
Royal Eagle
Premier Travel Inn
Mad Hatter Hotel
Premier inn
One Aldwych
Radisson Blu Edwardian Bloomsbury Street
Ridgemount Hotel
Amba Hotel Charing Cross
Taj
Novotel - Canary Wharf
Pullman Hotel
Sheraton Towers Hotel
Grenville House Hotel
London Marriott Hotel Grosvenor Square
Darlington Hyde Park
St Martins Lane Hotel
Assembly London
The Enterprise Hotel
Citadines Trafalgar Square London
The Highbury Centre
Gower House Hotel
Ibis London Docklands London Docklands
St. James’ Court, A Taj Hotel
Tune Hotel
Bluebells and Seashells
The Montcalm Brewery London City
Hart Shoreditch Hotel London, Curio Collection by Hilton
The Zetter Townhouse Marylebone
Portobello Gold
Travelodge Hotel
Dolphin Square Hotel
Grand Royale Hotel
Hotel Café Royal
The Westbridge Hotel
Vintry & Mercer
The Curtain
The Lost Unicorn Hotel, Tsagarada, Pelion
Hilton London Kensington
Wyndham Grand London Chelsea Harbour
Peckham Rooms Hotel
Knightsbridge Hotel
Radisson Blu Edwardian Mercer Street Hotel, London
DoubleTree by Hilton Hotel London - West End
The Westbury Mayfair, a Luxury Collection Hotel, London
The Tower Hotel
DoubleTree By Hilton London Greenwich
Blue Orchid Rochester Hotel
Hilton London Angel Islington
Oakley Hotel
Jurys Clifton Ford Hotel
DoubleTree By Hilton London Greenwich
Alhambra Hotel
Premier Inn
Grand Residences by Marriott - Mayfair-London
The Academy Hotel
Miller’s Hotel
Princess Hotel
Millennium Hotel London Knightsbridge
Portobello Gold
Middle Eight

In [75]:
#pd.Series(name).value_counts()

### Ratings

In [61]:
rating = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in hotel_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        rat = header_text.select_one('.overflow--hidden__09f24___ayzG')
        if rat is not None:
            rating.append(rat['aria-label'].split()[0])
        else:
            rating.append(np.nan)

In [74]:
# test
# for n, rat in zip(name, rating):
#     print(n, rat)

### Reviews

In [62]:
reviews = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in hotel_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        rev = header_text.select_one('.reviewCount__09f24__tnBk4')
        if rev is not None:
            reviews.append(rev.text)
        else:
            reviews.append(np.nan)

In [73]:
# test
# for n, rev in zip(name, reviews):
#     print(n, rev)

### Price

In [63]:
price_range = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in hotel_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        price = header_text.select_one('.css-1s7bx9e')
        if price is not None:
            price_range.append(price.text)
        else:
            price_range.append(np.nan)

In [72]:
# test
# for n, price in zip(name, price_range):
#     print(n, price)

### Neighbours

In [64]:
neig = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in hotel_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        neigh = header_text.select_one('.css-dzq7l1 .css-chan6m')
        if neigh is not None:
            neig.append(neigh.text)
        else:
            neig.append(np.nan)

In [51]:
# neig

### Type

In [65]:
type_res = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in hotel_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        type = header_text.select_one('.css-dzq7l1')
        if type is not None:
            types_output = type.text
            type_res.append(types_output.split('£')[0])
        else:
            type_res.append(np.nan)

In [66]:
type_res

['HotelsVenues & Event Spaces',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Chocolatiers & ShopsCoffee & Tea',
 'Hotels',
 'Hotels',
 'HotelsLeicester Square',
 'Hotels',
 'HotelsBed & Breakfast',
 'Hotels',
 'Bed & BreakfastOval',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsSouthwark',
 'Hotels',
 'Hotels',
 'PubsBritishHotelsSoho',
 'Hotels',
 "HotelsKing's Cross",
 'HotelsWestminster',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'HotelsStrand',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsMile End / Globe Town',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsWestminster',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsSouthwark',
 'Hotels',
 'Hotels',
 'HotelsBed & Breakfast',
 'HotelsBed & Breakfast',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsWhitechapel',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsSouth Bank',
 'Hotels',
 'Hotels',
 'HotelsPaddington',
 'HotelsBloomsbury',
 'HotelsVenues & Event Spaces',
 'HotelsBelsize Park',
 'HotelsHeathrow',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Bed & BreakfastCovent Garden',
 'HotelsBloomsbury',
 'Hotels',
 'Hotels',
 'Hotels',
 'Venues & Event SpacesHotelsCovent Garden',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsBed & Breakfast',
 'HotelsPaddington',
 'Hotels',
 'HotelsBed & BreakfastWest Hampstead',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsBed & Breakfast',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsVenues & Event SpacesFitzrovia',
 'Hotels',
 'Hotels',
 'HotelsDay SpasGyms',
 'Hotels',
 'Guest HousesHotels',
 'HotelsShad Thames',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsVenues & Event Spaces',
 'HotelsVenues & Event Spaces',
 'HotelsBed & Breakfast',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Guest HousesHotelsBed & Breakfast',
 'HotelsHighgate',
 'Hotels',
 'Bed & BreakfastCovent Garden',
 'HotelsSouth Kensington',
 'HotelsBed & Breakfast',
 'HotelsVenues & Event Spaces',
 'HotelsStrand',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsKnightsbridge',
 'HotelsBed & BreakfastBloomsbury',
 'HotelsVenues & Event Spaces',
 'Hotels',
 'Hotels',
 'HotelsLeicester Square',
 'Hotels',
 'Hotels',
 'Guest HousesHighbury',
 'HotelsBed & Breakfast',
 'Hotels',
 'Hotels',
 'Hotels',
 'Travel ServicesHotelsBed & BreakfastHighbury',
 'Hotels',
 'HotelsLiverpool Street / Broadgate',
 'Hotels',
 'PubsGuest HousesBritish',
 'HotelsMorden',
 'Hotels',
 'Hotels',
 'HotelsCafesBars',
 'Hotels',
 'HotelsThe City',
 'Hotels',
 'HotelsStrand',
 'Hotels',
 'HotelsDay Spas',
 'HotelsPeckham',
 'Hotels',
 'HotelsVenues & Event SpacesArts & Entertainment',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsBed & Breakfast',
 'HotelsMarylebone',
 'Hotels',
 'HotelsBed & Breakfast',
 'HotelsDalston',
 'Hotels',
 'Hotels',
 'Hotels',
 'HotelsBed & Breakfast',
 'Hotels',
 'PubsGuest HousesBritish',
 'HotelsItalianBarsCovent Garden']

# Dataframe

In [67]:
hotel_df = pd.DataFrame({'hotel_names':name, 'hotel_ratings':rating, 'hotel_price': price_range, 'hotel_neighbourhoods': neig, 'hotel_reviews': reviews, 'hotel_type': type_res})

In [68]:
# store data
hotel_df.to_csv('hotels_data.csv', index=False)

In [81]:
#hotel_df.head()

In [113]:
#hotel_df.info()

### Changing price value

In [76]:
# 1 pound = 1.31 USD
Euro = (pd.Series([10, 11, 30, 31, 60, 61]) * 1.31).apply(lambda x: int(x))
#print(Euro)
mapper = {'£':'under 13', '££':'[14 - 39]', '£££':'[40 - 78]', '££££':'over 79'}
hotel_df['hotel_price'] = hotel_df['hotel_price'].map(mapper)

In [86]:
# Top 20 Most reviews

#hotel_df.sort_values(by='Reviews', ascending=False).head(20)

# Pubs

In [77]:
#  1 webscraping Hotels
# Monitoring of the loop
start_time = time()
request = 0

# Dictionary for storing web content
soup_r = {}
for start_num in range(0, 240, 10):

    # Make a request
    url = f"https://www.yelp.com/search?find_desc=Pubs&find_loc=london&start={start_num}"
    response = requests.get(url)

    # Pause the loop
    sleep(randint(8,15))
    print(response)
    page = BeautifulSoup(response.content, 'html.parser')
    soup_r[start_num] = page


    # Monitor the requests
    request += 1
    elapsed_time = time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(request, request/elapsed_time))
    #clear_output(wait = True)

    # Throw a warning if request wasn't successful
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(request, response.status_code))

<Response [200]>
Request:1; Frequency: 0.07834324525829842 requests/s

In [35]:
pub_soup = pd.DataFrame([soup_r]).squeeze()

### Name

In [36]:
name = []
for row in pub_soup:  
    result = row.select('.css-1egxyvc .css-1m051bw') 
    for tag in result:
        #print(tag.text)
        name.append(tag.text)

In [112]:
#pd.Series(name).value_counts()

### Ratings

In [37]:
rating = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in pub_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        rat = header_text.select_one('.overflow--hidden__09f24___ayzG')
        if rat is not None:
            rating.append(rat['aria-label'].split()[0])
        else:
            rating.append(np.nan)

In [96]:
# test
# for n, rat in zip(name, rating):
#     print(n, rat)

### Reviews

In [38]:
reviews = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in pub_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        rev = header_text.select_one('.reviewCount__09f24__tnBk4')
        if rev is not None:
            reviews.append(rev.text)
        else:
            reviews.append(np.nan)

In [99]:
# test
# for n, rev in zip(name, reviews):
#     print(n, rev)

### Price

In [39]:
price_range = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in pub_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        price = header_text.select_one('.css-1s7bx9e')
        if price is not None:
            price_range.append(price.text)
        else:
            price_range.append(np.nan)

In [102]:
# test
# for n, price in zip(name, price_range):
#     print(n, price)

### Neighbours

In [40]:
neig = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in pub_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        neigh = header_text.select_one('.css-dzq7l1 .css-chan6m')
        if neigh is not None:
            neig.append(neigh.text)
        else:
            neig.append(np.nan)

In [42]:
# neig

### Type

In [ ]:
type_res = []
container_class = 'container__09f24__mpR8_ hoverable__09f24__wQ_on margin-t3__09f24__riq4X margin-b3__09f24__l9v5d padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border--top__09f24__exYYb border--right__09f24__X7Tln border--bottom__09f24___mg5X border--left__09f24__DMOkM border-color--default__09f24__NPAKY'
for row in pub_soup:
    result = row.find_all(class_ = container_class)

    for tag in result:
        header_text = tag.div.div.div.nextSibling.div
        type = header_text.select_one('.css-dzq7l1')
        if type is not None:
            types_output = type.text
            type_res.append(types_output.split('€')[0])
        else:
            type_res.append(np.nan)

In [ ]:
type_res

# Dataframe

In [43]:
pub_df = pd.DataFrame({'pub_names':name, 'pub_ratings':rating, 'pub_price': price_range, 'pub_neighbourhoods': neig, 'pub_reviews': reviews, 'pub_type':type_res})

In [44]:
# store data
pub_df.to_csv('pubs_data.csv', index=False)

In [107]:
#pub_df.head()

In [108]:
#pub_df.info()

### Changing price value

In [45]:
# 1 pound = 1.31 USD
Euro = (pd.Series([10, 11, 30, 31, 60, 61]) * 1.31).apply(lambda x: int(x))
#print(Euro)
mapper = {'£':'under 13', '££':'[14 - 39]', '£££':'[40 - 78]', '££££':'over 79'}
pub_df['Price Range in £'] = pub_df['Price Range in £'].map(mapper)

In [111]:
# Top 20 Most reviews

#pub_df.sort_values(by='Reviews', ascending=False).head(20)